@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
      @apply w-[220px] text-center text-black shadow-slate-300 shadow-inner px-4  py-2 text-2xl font-semibold rounded-xl outline-none bg-[#D9D9D9] focus:bg-[#393939] focus:text-white;
    }

    .container{
      @apply bg-[#890000] w-full flex flex-col items-center pt-[50px] h-auto gap-4
    }
  }

.arrow{
  position: relative;
}

video{
  max-width: none;
  height: none;

}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 177.77%; /* 9:16 aspect ratio (16 / 9 * 100%) */
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




/* .arrow::after{
  content: 	"\2193";
  color: black;
  font-size: 30px;
  font-weight: 800;
  position: absolute;
  right: 40px;
  
}

.arrow select{
  appearance: none;
} */


